beautifulsoup4==4.13.3
cachetools==5.5.2
certifi==2025.1.31
charset-normalizer==3.4.1
filelock==3.16.1
google-api-core==2.24.1
google-api-python-client==2.162.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
googleapis-common-protos==1.69.0
httplib2==0.22.0
idna==3.10
instaloader==4.13.2
lxml==5.3.1
proto-plus==1.26.0
protobuf==5.29.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyparsing==3.1.4
PySocks==1.7.1
pytz==2025.1
requests==2.32.3
rsa==4.9
snscrape==0.7.0.20230622
soupsieve==2.6
typing_extensions==4.12.2
uritemplate==4.1.1
urllib3==2.2.3
